In [30]:
import pandas as pd
from catboost import CatBoostRegressor, Pool

In [23]:
data = pd.read_csv('train.txt', sep='\t', header=None, index_col=0, names=['y', 'blank', 'weight']+list(range(500)))

In [24]:
data.head()

,y,blank,weight,0,1,2,3,4,5,6,...,490,491,492,493,494,495,496,497,498,499
1,-0.84307,NaN,1,-2.14388,-0.69411,1.30473,-1.06046,-0.62150,-0.46634,-0.96669,...,0.40253,0.93484,0.68504,-1.37858,-1.17067,-0.32967,-3.30627,-0.77131,0.20146,-0.22693
2,0.21095,NaN,1,2.03877,0.43453,-1.49916,0.13898,-0.87817,2.29349,-0.70420,...,0.28299,-1.48371,0.72187,0.52174,-0.25498,-1.12111,-0.16797,2.75876,-1.93091,-0.18303
3,-2.41988,NaN,1,-0.95053,-0.13042,1.56699,0.26181,0.08768,-3.32459,1.58394,...,0.92639,-0.61832,0.28087,0.21471,0.29806,-0.35503,-0.08531,0.65360,1.45089,-0.07093
4,-1.46263,NaN,1,-1.30906,-0.59577,0.39971,-0.30437,-1.23545,-1.71503,1.94246,...,0.32639,-1.36245,1.23629,-0.96764,-4.24304,0.82723,1.48626,0.46210,0.00965,-1.52649
5,-1.48254,NaN,1,-0.72291,0.12607,1.48415,1.90687,0.69106,-0.69437,1.51481,...,0.25997,-0.22013,-1.72110,-0.07785,0.44419,-0.75173,0.96682,-1.55071,-0.17419,0.78952

In [5]:
!cat train.cd

0	Auxiliary
1	Target
2	Auxiliary
3	Weight

In [11]:
data.shape

(10000, 503)

In [28]:
X = data.iloc[:, 3:]
y = data['y']

In [29]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
1,-2.14388,-0.69411,1.30473,-1.06046,-0.62150,-0.46634,-0.96669,1.78496,-1.15768,0.16218,...,0.40253,0.93484,0.68504,-1.37858,-1.17067,-0.32967,-3.30627,-0.77131,0.20146,-0.22693
2,2.03877,0.43453,-1.49916,0.13898,-0.87817,2.29349,-0.70420,0.35790,-0.02731,1.08585,...,0.28299,-1.48371,0.72187,0.52174,-0.25498,-1.12111,-0.16797,2.75876,-1.93091,-0.18303
3,-0.95053,-0.13042,1.56699,0.26181,0.08768,-3.32459,1.58394,1.08992,-1.90353,0.26902,...,0.92639,-0.61832,0.28087,0.21471,0.29806,-0.35503,-0.08531,0.65360,1.45089,-0.07093
4,-1.30906,-0.59577,0.39971,-0.30437,-1.23545,-1.71503,1.94246,1.12837,-0.16355,-1.09568,...,0.32639,-1.36245,1.23629,-0.96764,-4.24304,0.82723,1.48626,0.46210,0.00965,-1.52649
5,-0.72291,0.12607,1.48415,1.90687,0.69106,-0.69437,1.51481,-0.25328,0.63265,0.69302,...,0.25997,-0.22013,-1.72110,-0.07785,0.44419,-0.75173,0.96682,-1.55071,-0.17419,0.78952

In [34]:
params = {'iterations': 200, 'learning_rate': 0.1, 'loss_function': 'RMSE', 'verbose': 50}

In [36]:
cb = CatBoostRegressor(**params)

In [37]:
cb.fit(X, y)

0:	learn: 1.4550981	total: 72.8ms	remaining: 14.5s
50:	learn: 1.2928139	total: 3.36s	remaining: 9.81s
100:	learn: 1.1845294	total: 6.44s	remaining: 6.31s
150:	learn: 1.1011998	total: 9.5s	remaining: 3.08s
199:	learn: 1.0256126	total: 12.5s	remaining: 0us

In [39]:
imp = cb.get_feature_importance(Pool(X, label=y))

In [40]:
import numpy as np

In [44]:
' '.join(map(str, np.argsort(imp)[::-1][:20]))

'129 193 292 48 337 345 283 110 111 208 482 14 469 241 28 136 483 368 170 100'